.svg-best-education {
  max-width: 612px;
}

#References h1 {
  width: 200px;
}

.section-contacts h1 {
  width: 270px;
}

.section-courses-text {
  font-size: 20px;
  line-height: 30px;
  font-style: italic;
}

@media only screen
and (max-width: 500px) {
  .header a.lang {
    line-height: 6px;
  }
  .header a.lang:after {
    content: 'EN';
  }
}

@media only screen
and (max-width: 768px) {
  .section-contacts .header-line {
      margin-left: 158px;
  }
}

@media only screen
and (min-width: 769px) {
  .svg-best-education {
    padding-top: 145px;
  }
}

@media only screen
and (min-width: 768px)
and (max-width: 1280px) {
  .svg-best-education {
    padding-top: 80px;
  }
  .section-1 .text-container {
    padding-top: 300px;
  }
}

@media only screen
and (min-width: 1281px) {
  .svg-best-education {
    padding-top: 145px;
  }
  .section-1 .text-container {
    padding-top: 460px;
  }
}
