.svg-best-education {
  max-width: 612px;
}

#References h1 {
  width: 200px;
}

.section-contacts h1 {
  width: 270px;
}

.section-courses-text {
  font-size: 20px;
  line-height: 30px;
  font-style: italic;
}

.header a.lang {
  padding: 10px 24px;
}


@media only screen
and (max-width: 500px) {
  .header a.lang {
    line-height: 6px;
  }
  .header a.lang:after {
    content: 'EN';
  }
}

@media only screen
and (max-width: 768px) {
  .section-contacts .header-line {
      margin-left: 158px;
  }
}

@media only screen
and (min-width: 769px) {
  .svg-best-education {
    padding-top: 145px;
  }
}

@media only screen
and (min-width: 768px)
and (max-width: 1280px) {
  .svg-best-education {
    padding-top: 80px;
  }
  .section-1 .text-container {
    padding-top: 300px;
  }
}

@media only screen
and (min-width: 801px) {
  .header a.fb-link {
    padding-left: 20px;
  }
}

@media only screen
and (min-width: 768px)
and (max-width: 800px) {
  .header a, .header a.lang, .header a.fb-link {
    padding-top: 2px;
    padding-right: 20px;
  }
}

@media only screen
and (min-width: 1281px) {
  .svg-best-education {
    padding-top: 145px;
  }
  .section-1 .text-container {
    padding-top: 460px;
  }

}


/* Tästä alkaa etusivu uudistus */

#buy {
  background: #ff9080;
  color: #FFFFFF;
  border: 2px solid #ff9080;
  margin-right: 5px;
  margin-left: 0px;
}

#trial2 {
  background: #ffffff;
  color: #a9b9d9;
  border: 2px solid #a9b9d9;
  margin-right: 5px;
  margin-left: 0;
}

.buttons {
  padding-top: 20px;
}

.flex-holder {
  margin-left: 0px;
}

.educationtextholder{
  width: 90%;
  padding-left: 30px;
    padding-top: 23px;
    text-align: left;
}

#slide2, #slide3 {
  display: none;
}

.slideshow {
    position: relative;
    width: 52%;
    height: auto;
    padding-top: 40px;
    float: right;
    overflow: hidden;
}

.section-courses-info {
  margin-top:10px;
  margin-left: -10px;
  float:left;
}

.section-courses-text {
  width:475px;
  order:3;
  font-weight: 200;
  letter-spacing: 0.32px;
  margin-left: 20px;
  font-size: 20px;
  line-height: 36px;
  font-style: normal;
}

.mainospic {
  width: 600px;
  height: 353px;
}

.section-1 {
  height: 300px;
  padding-top: 20px;
  background: none;
}



.section-1-image {
  margin-top: 400px;
  width: 500px;
  height: 300px;
  background-color: #f6f6f6;
  position: absolute;
  margin-left: 580px;
  background-size: contain;
  background-repeat: no-repeat;
}

.section-2-image {
  width: 775px;
  height: 840px;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
}

img.always-effective {
  position: absolute;
  padding-top: 100px;
}


.fullwidth-container-grey {
  margin-top: 90px;
  width: 100%;
  background-color: #f6f6f6;
  padding-bottom: 100px;
  overflow: visible;
}

.fullwidth-container-white {
  margin-top: 222px !important;
  width: 100%;
  padding-bottom: 100px;
  overflow: hidden;
}

.section-courses {
  padding-top: 66px;
}

.section-courses-info {
  margin-left:50px;
  margin-right:30px;
  float:left;
}

.section-courses span.info {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 40px;
  padding-top:20px;
}

.section-courses-samples {
  order:4;
  width:250px;
  text-align:right;
  font-weight: 400;
  font-size: 19px;
  letter-spacing: 0;
  line-height: 28px;
}

#References h3 {
  letter-spacing: 1.12px;
  line-height: 48px;
  width: 333px;
  text-align: right;
}

.section-contacts .map-holder {
  z-index:9999;
  position:absolute;
  width:50%;
  margin-right: auto;
  margin-left: auto;
  background-color: #f6f6f6;
  height: 375px;
  text-align:right;
}

.section-contacts .map {
  margin-top:6px;
  width:676px;
  height:362px;
  margin-right: -101px;
}

  .trialsmaller {
    background: #ff9080;
    border: 1px solid #ff9080;
    color: #0034a0;
  }

  .section-4-image {
    background-image: none;
    float: right;
  }

  .section-1 {
     height: 420px;
   }

   .section-1-image {
   width: 500px;
   height: 333px;
   background-color: #f6f6f6;
   position: absolute;
   margin-left: 400px;
   background-size: contain;
   background-position: -220px 0;
   background-repeat: no-repeat;
   border-bottom: 50px solid #f6f6f6;
 }

 .educationh3 {
   width: 400px;
   font-size: 40px !important;
   line-height: 39px;
 }

 .section-courses span.info {
   border-top: none;
 }

 #mobile-refe-div {
   display: none;
 }

.fullwidth-container-grey {
  margin-top: 0
}

.allrefes {
  padding-top: 100px;
  width: auto;
  height: 550px;
  margin-left: 300px;
  position: relative !important;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

#refeholder {
  margin-left: 300px;
  width: 777px;
  height: 420px;
  background-color: #f6f6f6;
  position: relative;
}


.refeteksti {
  margin-top: 10px;
  margin-left: 130px;
  font-size: 23px;
  width: 520px;
  height: 300px;
}

.refeh2 {
  margin-top: 25px;
  margin-left: 150px;
  width: 200px;
  height: 300px;
  position: absolute;
  z-index: 99 !important;
  font-size: 17px;
}

.refe-pic {
  width: 190px;
  height: 255px;
  margin-top: 15px;
}

.quotepic {
  width: 70px;
  height: 70px;
  margin-top: 30px;
  margin-left: 130px;
}

.section-4-image {
  width: 555px;
  height: 404px;
  background-color: #f6f6f6;
}
}
#klikki {
  cursor: pointer;
}

.slider-img {
  margin-top: 40px;
  width: 300px;
  height: 40px;
}


.grow-h3-holder {
line-height: 55px;
}

.grow-h3 {
  margin-left: 0px !important;
  text-align: left !important;
}

.professional-holder {
margin-top: 25px;
width: 505px;
}

#mobile-refe-div {
  display: none;
}

.border {
border-bottom: 2px solid #003399;
padding-top: 25px;
width: 80px;
}


.educationpicture {
  width: 90%;
  padding-left: 30px;
}

.educationholder {
  width: 42%;
  height: auto;
  background-color: #f6f6f6;
  float: left;
  padding: 45px 30px 0 30px;
  position: relative;
  padding-bottom: 60px;
}

.range1 {
  margin-left: 55px;
  margin-right: 55px;
}

.range2 {
  margin-top: 22px;
}

  .active {
    color: #000000;
  }

  .selected::before {
    background: #ff9080;
  }

  .active.selected::before {
    display: none;
  }

  .section-courses-samples {
    display: block;
  }

  .course-h3 {
    font-size: 33px;
  }

  .range2 #buy, .section-courses-samples #buy {
    background-color: #ff9900;
    float: none !important;
  }



  /* Tästä alkaa etusivu uudistus MEDIA */

  @media only screen and (max-width: 1400px) {
     .allrefes {
       margin-left: 150px !important;
     }
  }


  /* Tästä alkaa etusivu uudistus MEDIA */
  @media only screen
  and (min-width: 801px)
  and (max-width: 1280px) {
    .range1 {
      width: 345px;
    }
  }



  @media only screen and (max-width: 1280px) {

    .educationholder {
      width: 85%;
      height: 100%;
      background-color: #f6f6f6;
      float: left;
      position: relative;
    }

    .refeteksti {
      width: 77%;
    }

    .professional-holder {
      margin-left: 40px;
    }
    .border {
      margin-left: 40px;
    }

    #border2 {
            margin-left: 0;
    }

    .educationh3 {
     margin-left: 40px;
    }

    .refeteksti {
      margin-left: 110px;
    }

    .quotepic {
      margin-left: 110px;
    }

    .section-1 {
      height: 440px;
    }

    .section-2-image {
      padding-top: 1%;
      width: 455;
      margin-right: 0;
      padding-bottom: 15px;
        }
      .section-4 {
        width: 444px;
        float: right;
      }

      .section-4-image {
        float: left;
      }
      .section-1-image {
        width: 500px;
        height: 300px;
        margin-left: 494px;
        background-position: -20px 0;
        }

         .educationh3 {
           margin-top: 123px;
         }

     .allrefes {
       margin-left: 40px !important;
     }
     #refeholder {
       margin-left: 200px !important;
     }
     .refeh2{
       margin-left: 50px !important;
     }
  }

  @media only screen and (max-width: 1111px) {


    .section-courses-text {
      width: 333px;
      margin-right: 10px;
    }

    .section-courses-samples {
      width: 350px;
    }

  .mainospic {
    width: 100%;
    height: 100%;
  }

  a.customerservice {
    margin-right: 0px;
    margin-left: 0px;
  }

  }

  @media only screen and (max-width: 960px) {
    a.customerservice {
      display: none;
    }

    .allrefes {
      margin-left: 0px !important;
    }

    .slideshow {
        padding-top: 60px;
    }
  }

  @media only screen and (max-width: 800px) {

    .educationpicture {
      width: 80%;
      padding-left: 1px;
    }

    .educationholder {
      width: 100%;
      height: auto;
      padding-bottom: 20px;
    }

    .section-4-image {
      float: none;
    }

    .slideshow {
        position: relative;
        width: 100%;
        height: auto;
        padding-top: 40px;
        overflow: hidden;
        float: none;
    }

    #mobile-refe-div {
      display: block;
    }

    .educationtextholder{
      width: 86%;
      padding-left: 30px;
      text-align: left;
    }

    #buy {
      font-size: 14px;
      padding: 1px 8px 1px 8px;
      border: 0px solid #ff9900;
      background: #ff9900;
    }

    #refeholder {
      margin-left: 150px !important;
    }

    .section-courses h3 {
      margin-left: 0;
    }

    .section-courses span.info {
      margin-left: 0;
    }

    .educationtextholder{
      padding-left: 0;
    }

    .section-4-image {
   width: 100%;
    }

    .buttons {
      margin-bottom: 80px;
    }

    .section-courses-text {
    margin-left: 0;
    width: auto;
    }

    .section-courses-info {
  margin-left: 0;
  }

  .section-courses-samples {
  padding-top: 30px;
  display: inline-flex;
  }
  .section-courses {
     padding-top: 30px;
  }

    .quotepic {
      margin-left: 21px;
    }

    .refeteksti {
      width: 333px;
      margin-left: 20px;
      margin-right: 8px;
      margin-top: 0px;
    }
    .koulutuskuva {
    margin: 0;
       width: 75%;
       height: auto;
       padding-bottom: 20px;
       padding-top: 10px;
    }
    .border {
      display: none;
    }

    .allrefes {
      margin-bottom: 0;
      padding-top: 40px;
    }

    #refeholder{
      height: 505px;
      width: 444px;
    }
    .refe-pic {
      width: 170px;
      height: 230px;
      margin-top: -25px;
      margin-left: -30px;
    }

    #refe-pic-mobile {
      width: 70%;
      height: auto;
      margin-top: -145px;
      margin-left: 210px;
    }

    #desktoprefeh2 {
      display: none !important;
    }

    #desktoprefe {
      display: none !important;
    }
    #mobile-refe-div {
      display: block !important;
      font-size: 18px;
    }

    #trial2 {
      display: block;
      float:left;
      border: 1px solid;
    }
    a.lang {
      margin-right: 10px;
    }
  .mainospic {
    width: 100%;
    height: 70%;
  }

  .section-1 {
    height: auto;
    text-align: left;
  }
   .educationh3 {
    width: 90%;
    position: absolute;
    margin-top: 60px;
    margin-left: 30px;
   }
   .professional-holder {
   position: absolute;
   margin-top: 171px;
   width: 90%;
   margin-left: 30px;
   }
   .section-2-image {
     margin-top: 311px;
   }

   .section-4 {
     width: 800px;
   }
   .header-line {
     background: #FFFFFF;
   }
  }

  @media only screen and (max-width: 767px) {
    .header a, .header a.lang {
      padding: 0 10px;
    }
  }

  @media only screen and (max-width: 606px) {

    #refe-pic-mobile {
      margin-top: -145px;
      margin-left: 130px;
    }

    .slideshow {
      padding-top: 10px;
    }

    .section-2-image {
      margin-top: 361px;
    }


    .section-contacts .map {
      width: 500px;
      height: 282px;
    }


    .section-contacts .map-holder {
      width: 400px;
      height: 222px;
    }

    #get-trialReferences {
      display: none;
    }

    .header #buy {
      display: none;
    }

    .refe-pic {
      margin-left: -100px;
      width: 140px;
      height: 180px;
      margin-top: -25px;
    }

    .grow-h3-holder {
      margin-top: 40px;
    }

    .allrefes {
      margin-bottom: 100px;
    }

    #refeholder{
      height: 575px;
      width: 333px;
      margin-left: 100px !important;
    }

    .refeteksti {
      width: 253px;
      margin-left: 20px;
      margin-right: 5px;
    }


  }

  @media only screen and (max-width: 500px) {

    .section-contacts .map {
      width: 400px;
      height: 222px;
    }


    .section-contacts .map-holder {
      width: 400px;
      height: 222px;
    }


    .educationh3 {
      margin-top: 30px;
    }

    .section-courses-text {
      font-size: 14px;
    }


    .range1 {
      font-size: 14px;
    }

    h2 {
      font-size: 14px;
    }

    .mainospic {
      margin-left: 0px;
      height: 100%;
      width: 100%;
    }

  .educationtextholder {
  width: 81%;
  text-align: left;
  font-size: 14px;
  }

  .section-1 {
    text-align: left;
  }

  .section-2-image {
    margin-top: 360px;
    height: 333px;
  }

  .section-4-image {
    width: 100%;
  }

  .slider-img {
    width: 100%;
    height: auto;
    margin-top: 22px;
  }

  .range1 {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }

  .educationh3 {
      font-size: 28px !important;
      width: 250px;
  }

  .professional-holder {
    width: 80%;
    font-size: 15px;
  }

  #refeholder{
    position: relative;
    height: 525px;
    margin-left: 40px !important;
  }

  .refeteksti {
    width: 253px;
    margin-left: 20px;
    margin-right: 5px;
    margin-top: 0px;
  }

  #mobile-refe-div {
    font-size: 14px !important;
  }

  .refe-pic {
    margin-left: -121px;
  }

      .allrefes{
        margin-left: -30px !important;
        margin-bottom: 0;
  }


    @media only screen and (max-width: 430px) {

      #refe-pic-mobile {
      margin-top: -145px;
      margin-left: 110px;
    }
      #future-best-edu {
        width: 84%
      }


      .section-contacts .map {
        width: 370px;
        height: 205px;
      }


      .section-contacts .map-holder {
        width: 370px;
        height: 205px;
      }


      #refeholder{
        margin-left: 50px !important;
      }

      .refe-pic {
        margin-left: -131px;
      }

  .section-2-image {
    margin-top: 474px;
  }

}

.section-1 {
  height: 400px;
  padding-top: 0;
}


}
