.wufoo input.btTxt {
    padding: 5px 20px;
    background:#0034a0;
    border: #0034a0;
    color: #ffffff;
    float: right;
    margin-right: 0;
}


.form li div label {
display: none;
}

.info h2 {
margin-bottom: 20px;
}