/** Mobile **/

@media only screen and (max-height: 678px), only screen and (max-device-height: 678px) {

  .form2.wufoo.topLabel1.page1 {
    width: 280px;
    height: 600px;
  }

  h2 {
    display: none;
  }

}

form .errorLi {
  display: none !important;
}

.errorLi {
  display: none !important;
}

form .error {
  display: none !important;
}

p.error {
  display: none !important;
}

.error {
  display: none !important;
}
