body {
  color: #0d2b5c;
  font-family: "jaf-domus";
}

img {
  width: 100%;
  height: auto;
}
p {
font-size: 19px;
}

.mobile-button-buy {
  display: none;
}
#logopic {
  z-index: 999999;
}


h1, h2 {
  color: #0034a0;
}

h1 img {
  width: 100%;
}


hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #0034a0;
  margin: 1em 0;
  padding: 0;
}

img.logo {
  width: 170px;
  height: 50px;
  position: absolute;
  left: 40px;
  top: 20px;
}

button {
  color: #fff;
  background: #2ccac7;
  padding: 8px 15px;
  border: 0;
  font-size: 20px;
  float: left;
}

.list-ul-text {
  font-weight: 300;
  letter-spacing: .3px;
  font-size: 18px;
  margin-right: 10px;
}

@media only screen
and (min-width: 1281px) {
  #alaheader {
  margin-top: 0px;
}
}

.skhole-is-best {
  width: 100%;
}

.basic-text-css {
  line-height: 26px;
  letter-spacing: 0;
  font-size: 18px;
  font-weight: 500;
}

/* buy button css here */

#buy-skhole-button {
  font-weight: 400;
  font-size: 20px;
  padding: 12px 22px 12px 22px;
  background: #2ccac7;
  color: #FFFFFF;
  border: 2px solid #2ccac7;
  border-radius: 4px;
}

#buy-form-holder-right-bu {
  float: right;
  font-weight: 400;
  font-size: 20px;
  padding: 12px 22px 12px 22px;
  background: #2ccac7;
  color: #FFFFFF;
  border: 2px solid #2ccac7;
  border-radius: 4px;
}

.buy-text-holder {
  float: left;
  font-size: 23px;
  margin-left: 20px;
  width: 250px;
  font-weight: 300;
  margin-top: 2px;
  line-height: 26px;
  color: #003399;
}

.skhole-buy-education {
max-width: 1111px;
margin: auto;
}

@media only screen
and (max-width: 1100px) {
  .skhole-buy-education {
    width: 100%;
  }
}

.buy-form-holder {
  margin-top: 20px;
  width: 80%;
  float:left;
}

.buy-form-holder-right {
  margin-top: 65px;
  width: 99%;
  float:right;
  margin-right: 85px;
}

#buy-form-holder-right-text {
  float: right;
  text-align: right;
  margin-right: 20px;
  width: 200px;
}

#buy-form-holder-left-text {
  float: left;
  text-align: left;
  margin-left: 100px;
  width: 333px;
  font-size: 20px;
  font-weight: 500;
}

/* floating image here */

.vinkkaa-pomolle-floatter {
  width: 200px;
  height: 120px;
  position: fixed;
  right:0;
  bottom:50px;
  margin:20px;
  padding:5px;
  z-index: 89484957495;
}


#vinkkaa-pomolle-mobile {
  display: none;

}


@media only screen and (max-width: 800px) {
  #vinkkaa-pomolle-mobile {
  right:0;
  position: fixed;
  bottom:20px;
  margin:20px;
  padding:5px;
  z-index: 89484957495;
  display: block;
  border-radius: 8px;
  font-family: "jaf-domus";
  background: #ff9080;
  color: #FFFFFF;
  border: 1px solid #ff9080;
  }
  .vinkkaa-pomolle-floatter {
    display: none;
  }
}


@media only screen and (max-width: 800px) {
 
.vinkkaa-pomolle-floatter {
  width: 150px;
  height: 90px;
  position: fixed;
  left:0;
  bottom:10px;
  margin:20px;
  padding:5px;

}
}

/* section-all-starts-here css here */

.study-image-holder {
  margin-left: -50px;
  float:left;
  width: 53%;
  margin-top: 10px;
}

.better-mobile-holder {
  display: none;
}

.more-cheap-text-mobile {
  color: #0d2b5c;
  font-weight: 600;
}

#buy-skhole-opener {
  line-height: 40px
}

.study-image {
  width: 100%;
  height: auto;
}

  .buy-skhole {
    margin-top:45px;
    width: 45%;
    height: auto;
    background-color: #f6f6f6;
    float: left;
    padding: 10px 20px 0 40px;
    position: relative;
    padding-bottom: 30px;
  }

  #what-you-get-2w {
    width: 100%;
    margin-top: 0;
  }


  .buy-skhole-h2 {
  width: 100%;
  font-size: 36px;
  font-weight: 300;
  line-height: 20px;
  }

  .buy-skole-text {
    font-size: 18px;
    margin-top: 15px;
    font-weight: 500;
    line-height: 25px;
    color: #003399;
    }

    .cheaper-h2 {
      font-weight: 600;
      font-size: 17px;
      letter-spacing: 1.5px;
      margin-left: 20px;
    }

    .better-more-cheaper-holder {
      width: 1005px;
      position: relative;
      margin-left: 30px;
    }

    .better-more-cheaper {
      margin-top: 40px;
      width: 450px;
      float: left;
      margin-left: 20px;
      position: relative;
      font-size: 18px;
    }

  .border-buy {
    border-bottom: 2px solid #003399;
    padding-top: 20px;
    width: 170px;
  }

  #first-trial-button-holder {
    margin-left: 40px;
  }

  .better-more-text-holder {
    width: 100%;
    float: left;
  }

  #better-holder-right {
    margin-top: 40px;
    margin-left: 70px;
  }




  /* section-to-who css here */

  #who-skhole-button {
    float: left;
  }

  .all-courses-button-holder {
    float: left;
    margin-top: 25px;
    width: 100%;
  }
  #courses-for-everyone {
    float: left;
    text-align: left;
    width: 500px;
    font-size: 20px;
    font-weight: 500;
  }

  #all-courses-button {
    float: left;
    font-weight: 400;
    font-size: 20px;
    padding: 12px 22px 12px 22px;
    background: #ff9080;
    color: #FFFFFF;
    border: 2px solid #ff9080;
    border-radius: 4px;
    margin-left: 22px;
  }

  .section-to-who {
    position: relative;
    margin-left: 50px;
    max-width: 1111px;
  }

  .who-should-use-skhole {
    position: relative;
    float: left;
    width: 24%;
    margin-top: 45px;
  }

  #what-skhole-contains {
    font-size: 20px;
    margin-top: 15px;
    font-weight: 400;
    line-height: 25px;
    color: #003399;
    margin-top: 20px;
    width: 504px;
  }

  .use-skhole-h2 {
    margin-left: 20px;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 1.5px;
  }

  .to-who-texts {
    margin-left: 20px;
    margin-top: 100px;
  }

  #to-who-plus {
    margin-top: 15px;
    color: #003399;
    margin-left: 20px;
  }


/* section-start-anytime css here */

.section-start-anytime {
  margin-top: 100px;
  position: relative;
  max-width: 1111px;
  margin: auto;
}

#study-everywhere-h2 {
  line-height: 40px;
}

#start-anytime-buy {
  margin-left: 75px;
}


  .start-anytime {
    width: 41%;
    float: right;
    position: relative;
    background-color: #f6f6f6;
    margin-top:80px;
    height: 444px;
    margin-left: 25px;
  }

  .start-anytime-holder {
    float: right;
    margin-top: 65px;
    width: 63%;
    margin-right: -90px;
  }

  .start-anytime-text {
    margin-left:40px;
    margin-top: 40px;
    margin-right: 40px;
  }

 .start-anytime-big {
   font-size: 25px;
   font-weight: 300;
   line-height: 33px;
   color: #003399;
   letter-spacing: 0;
 }

 .start-anytime-small {
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  line-height: 25px;
  color: #003399;
}

/* skhole-courses css here */


/* section-references css here */

.referer-div-margin {
  margin-top: 12px;
}

.refe-pic {
  margin-top: 25px;
}

.section-references {
  position: relative;
  width: 100%;
  max-width: 1111px;
  margin: auto;
}

.testimonials {
  margin-bottom: 1px;
  padding-top: 70px;
}

#refe-buy {
  margin-left: 80px;
  margin-top: 10px;
}

.customer-references-h2 {
  margin-top: 60px;
  margin-left: 75px;
}

@media only screen and (max-width: 1280px) and (min-width: 1110px) {
  #arrow-right {
    margin-right: -145px;
  }
}

@media only screen and (max-width: 500px) and (min-width: 400px) {
  #refeholder {
  width: 78% !important;
  margin-left: 9% !important;
}
}

/* section-hotus-lamk css here */

.hotus-lamk-holder {
  float: left;
  margin-top: 100px;
  position: relative;
  margin-left: -10px;
  width: 62%;
}

#i-want-quality {
  width: 330px;
}

#hotus-small {
  width: 440px;
  float: right;
}

.hotus-lamk-text {
  text-align: right;
  margin-left: 60px;
  margin-top: 40px;
  margin-right: 40px;
}

.hotus-lamk-small {
  margin-left: 25px;
}

#quality-content {
  float: right;
  text-align: right;
  margin-right: 20px;
  width: 250px;
  margin-top: 2px;
}

.hotus-lamk-box-holder {
  float: right;
  position: absolute;
  background-color: #f6f6f6;
  margin-top:125px;
  height: 370px;
  margin-left: 500px;
  margin-right: 50px;
}

.section-hotus-lamk {
  max-width: 1111px;
  margin: auto;
  position: relative;
}

/* section-want-to-study css here */

#medicine-h2 {
  line-height: 50px;
  width: 490px;
  margin-left: 25px;
}

#medicine-border {
  margin-left: 25px;
}


#want-to-study-image-mobile {
  display: none;
}

#course-11-h2 {
  font-weight: 600;
  margin-top: 40px;
  margin-left: 20px;
  width: 333px;
}

.section-want-to-study {
  position: relative;
  max-width: 1111px;
  margin-top: 100px;
  margin: auto;
  margin-top: 100px;
}

.want-to-study {
  float: left;
  margin-left: 50px;
  width: 45%;
}

.want-to-study-image {
  width: 50%;
  height: auto;
  float:left;
  margin-top: 10px;
}

#want-to-study-buy {
  margin-left: 80px;
}


/* i-want-it-all-sector css here */

#i-want-all-content {
width: 190px;
float: right;
text-align: right;
margin-right: 20px;
}

.i-want-it-all-sector {
 max-width: 1111px;
 margin: auto;

}

.license-gives {
  margin-left: 80px;
  width: 300px;
  float: left;
  margin-top: 40px;
}
#what-you-get-h2 {
line-height: 40px;
}

.get-li-x {
  text-align: center;
  font-weight: 600;
  color: #2ccac7;
  padding-right: 50px;
}

.what-you-get-table {
  width: 100%;
  line-height: 30px;
}

.what-you-get {
  width: 60%;
  float: left;
  margin-top: 60px;
  color: #0034a0;
}

.what-you-get-who {
  text-align: center;
  color: #0034a0;
  font-weight: 400;
  padding-right: 50px;

}

.what-you-get-li {
  text-align: right;
  font-weight: 400;
  padding-right: 30px;
  padding-left: 10px;
}

.grey-tr {
  background: #f6f6f6;
}


/* our-customers-section css starts here */

.our-customers-section {
  max-width: 1111px;
  margin: auto;
  position: relative;
}

#refe-h2 {
  width: 300px;
  line-height: 40px;
}

#over-hundred-customers {
  line-height: 40px;
  width: 650px;
}

.logo-only {
  margin-top: 25px;
  width: 1211px;
  margin-left: -40px;
}



.logo-content {
  margin-left: 75px;
  margin-right: 20px;
  margin-top: 65px;
}

#buy-form-holder-right-text-customers {
  float: right;
  text-align: right;
  margin-right: 20px;
  width: 300px;
}

.customer-logo-img {
margin-top: auto;

}

#customers-buy-holder {
  width: 307px;
}

.logo-holder {
  width: 170px;
  height: 85px;
  float: left;
  margin: 50px 55px 25px 40px;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

/* wufoo-skhole-holder-here */


#wufoo-m1s3bssk06socjh {
  display: block !important;
}

.wufoo-skhole-holder {
  max-width: 600px;
  margin: auto;
  background: #f6f6f6;
  padding: 20px 40px 20px 40px;
  margin-top: 100px;
}

#bottom-buy-margin-maker {
  padding-top: 222px;
}


/* here max width 1100px min 1000 css */

@media only screen
and (max-width: 1100px) {

  #better-holder-right {
    margin-left: 5%;
    width: 40%;
  }


.logo-only {
  width: 100%;
  margin-left: 0;
}

.logo-holder {
  margin: 50px 40px 25px 30px;
}

  #better-holder-left-desktop {
    width: 42%;
  }

  .better-more-cheaper-holder {
    width: 100%;
  }

.hotus-lamk-holder {
  width: 666px;
}

.hotus-lamk-box-holder {
  margin-top: 125px;
}

.hotus-lamk-text {
  margin-top: 20px;
  margin-right: 30px;
  margin-left: 30px;
}

.buy-skhole {
  margin-top: 65px;
}

.start-anytime {
  height: 385px;
  margin-top: 90px;
}

.start-anytime-text {
  margin-left: 30px;
  margin-top: 20px;
  margin-right: 20px;
}

.what-you-get-table {
  line-height: 26px;
}

#medicine-h2 {
  width: 350px;
}



}


/* here max width 1000px min to 800 max css, lets go mobile */
@media only screen
and (max-width: 1000px) {

  .license-gives {
    width: 90%;
    line-height: 28px;
  }

  .what-you-get-table {
    line-height: 30px;
  }

  .what-you-get {
    width: 100%;
  }


  .buy-form-holder {
    margin-top: 50px;
  }

  .mobile-button-buy {
    display: block;
  }
  .desktop-button-buy {
    display: none;
  }

  .study-image-holder {

    margin-left: 0px;
    width: 100%;
  }

  .buy-skhole {
    width: 94%;
    margin-left: 3%;
    margin-top: 0px;
  }

  .better-more-cheaper {
    width: 86%;
    margin-left: 0%;
    margin-right: 15px;
  }

  .better-more-cheaper-holder {
    width: 100%;
    margin-left: 8%;
  }

  .buy-skole-text {
    margin-right: 20px;
  }

  .more-cheap-text-mobile {
    margin-right: 20px;
  }

  .who-should-use-skhole {
    width: 44%;
  }

  #buy-form-holder-left-text {
    width: 80%;
    margin-left: 0;
  }

  #buy-form-holder-right-text {
    width: 80%;
    margin-left: 0;
    float: left;
    text-align: left;
    margin-top: 30px;
  }

  #buy-form-holder-right-bu {
    width: 80%;
    margin-top: 10px;
    margin-left: 0;
    float: left;
  }

  .buy-text-holder {
    width: 80%;
    margin-left: 1px;
    float: left;
    text-align: left;
    margin-top: 30px;
  }

  #buy-skhole-button {
    width: 95%;
    margin-top: 10px;
    margin-left: 1px;
    float: left;
  }

  #i-want-all-content {
    float: left;
    text-align: left;
    margin-left: 0;
  }

  .buy-form-holder-right {
    margin-right: 0;
    float: left;
    margin-left: 2%;
  }

  #what-you-get-button-holder {
    margin-left: 8%;
  }

  .customer-references-h2 {
    margin-top: 100px;
    margin-left: 8%;
  }

  .start-anytime-holder {
    width: 100%;
    float:left;
  }

  #buy-holder-5 {
    margin-left: 11%;
  }

  .start-anytime {
    float:left;
    width:80%;
    margin-left:10%;
    margin-top: 0;
    height: 265px;
    margin-bottom: 25px
  }

  #start-anytime-buy {
    margin-top: 10px;
  }

  .hotus-lamk-holder {
    width: 100%;
    margin-left: 0;
    margin-top: 50px;
  }

  .hotus-lamk-box-holder {
    position: relative;
    width: 80%;
    float:left;
    margin-left: 10%;
    margin-top: 0;
  }

  .start-anytime-big{
    text-align: left;
  }

  #hotus-small {
    float:left;
  }

  .start-anytime-small {
    text-align: left;
    margin-left: 0;
  }

  #start-anytime-buy {
    margin-left: 12%;
  }

  #quality-content {
   width: 90%;
    text-align: left;
    margin-left: 0;
    float:left;

  }

  #buy-form-buttons-and-text-holder {
    margin-left: 12%;
    width: 90%;
  }

  #buy-form-holder-right-text-customers {
    float:left;
    width:90%;
    text-align: left;
  }

  .logo-holder {
    width: 150px;
    height: 75px;
  }

  #all-courses-button {
    width: 80%;
    margin-left: 2%;
  }

  #customers-buy-holder {
    margin-left: 1%;
    width: 90%;
  }

  #want-to-study-buy {
    margin-left: 11%;
  }

}

/* css here 800 to 600 */

@media only screen
and (max-width: 800px) {

  .better-desktop-holder {
    display: none;
  }

  #buy-holder-5 {
    margin-left: 8%;
  }

  .better-mobile-holder {
    display: block;
  }

  .start-anytime-small {
    margin-bottom: 25px;

  }


  #buy-form-holder-right-text {
    width: 190px;
  }

  .buy-skole-text {
    margin-right: 20px;
    margin-top: 30px;
  }


  .fb-logo-pic-1 {
    display:none;
  }


  #start-anytime-buy {
    margin-left: 8%;
  }

  .start-anytime {
    height: auto;
    width: 94%;
    margin-left: 3%;
  }

  .to-who-texts {
    margin-left: 0;
    margin-top: 50px;
  }

  .license-gives {
    margin-left: 8%;
  }

  .hotus-lamk-box-holder {
    height: auto;
    width: 94%;
    margin-left: 3%;
  }

  #better-holder-left-desktop {
    width: 90%;
  }

  #better-holder-right {
    width: 85%;
    margin-left:0;
  }

  #buy-form-buttons-and-text-holder {
    margin-left: 8%;
    width: 95%;
  }

  .border-buy {
    display: none;
  }

  .want-to-study-image {
    width: 100%;
  }


#want-to-study-image-mobile {
  display: block;
}

#want-to-study-buy {
  margin-left: 8%;
}


#want-to-study-image-desktop {
  display: none;
}

#medicine-h2 {
  width: 100%;
  margin-left: 0;

}

.want-to-study {
  width: 80%;
  margin-left: 8%;
}

.use-skhole-h2 {
  margin-left: 0;
}

.list-ul-text {
  padding-left: 5%;
}

.logo-content {
  margin-left: 8%;
  width: 82%;
  margin-top: 50px;
}

#over-hundred-customers {
  margin-left: 0;
  width: 100%;
  line-height: 30px;
  font-weight: 400;
}

.buy-form-holder-right {
  margin-top: 10px;
}

.buy-form-holder {
  width: 84%;
}


.logo-only {
  margin-left: 10px;
}

#refe-buy {
  margin-left: 8%;
}

#first-trial-button-holder {
  margin-left: 0;
}

}



/* css here 600 to 400 */

@media only screen
and (max-width: 599px) {

  #buy-header {
    display: block;
  }

  #what-skhole-contains {
    width: 89%;
  }

  #more-length-to-button {
    width: 103%;
  }

  #to-who-plus {
    margin-left: 0;
  }

  .to-who-texts {
    margin-right: 20px;
  }

  .buy-form-holder {
    margin-top: 0;
  }

  #i-want-all-div-holder {
    width: 106%;
  }

  #courses-for-everyone {
   width: 75%;
  }

  #all-courses-button {
    width: 90%;
    margin-left: 0%;
  }

  #quality-content {
    width: 230px;
  }


  .what-you-get {
    margin-top: 20px;
  }

  #better-holder-left-desktop {
    width: 85%;
    margin-left:0px;
  }

  #study-everywhere-h2 {
    line-height: 40px;
    font-size: 30px;
  }

  #hotus-small {
    width: 85%;
  }

  .buy-skhole-h2 {
    width: 100%;
    line-height: 40px;
  }

  .who-should-use-skhole {
    margin-top: 10px;
    width: 94%;
  }

  .buy-form-holder-right {
    margin-left: 0;
     width: 100%;
  }

  #buy-form-holder-right-bu {
    width: 85%;
  }

  #buy-skhole-button {
    width: 100%;
  }

  .section-to-who {
    margin-left: 8%;
  }

  .what-you-get-table {
    line-height: 26px;
    font-size: 16px;
  }

  .what-you-get-li {
    padding-right: 0;
  }

  #medicine-h2 {
    line-height: 30px;
    font-weight: 400;
    margin-left: 0;
  }

  .get-li-x {
    padding-right: 10px;
  }

  .logo-holder {
    width: 120px;
    height: 60px;
    margin: 20px 25px 10px 0px;
  }

  .what-you-get-who {
    padding-right: 10px;
  }

  .better-more-cheaper, .buy-form-holder {
    margin-left: 3%;
  }

  #i-want-all-content {
    width: 160px;
  }

  .section-want-to-study {
    margin-top: 40px;
  }

  .testimonials {
    padding-top: 40px;
  }

  .buy-skhole {
    width: 84%;
    margin-left: 8%;
  }
  #buy-form-holder-right-text-customers {
    width: 85%;
  }

  /* here font stuff */

  #buy-skhole-opener {
    font-size: 26px;
  }

  .start-anytime-big, .buy-skhole-h2, #medicine-h2 {
    font-size: 24px;
  }

  .buy-skole-text {
    margin-top: 0;
  }

  .buy-text-holder {
    font-size: 20px;
    width: 82%;
  }

  p,  .buy-skole-text, #course-11-h2, .start-anytime-small, .list-ul-text, #to-who-plus, #buy-form-holder-left-text {
    font-size: 16px;
  }

  #what-you-get-h2, #refe-h2, #who-should-use-h2 {
    font-size: 30px;
  }

  .cheaper-h2 {
    margin-left: 1px;
  }

  .wufoo-skhole-holder {
    margin-left: 20px;
    margin-right: 20px;
  }

}

/* css here 399 to inf */

@media only screen
and (max-width: 399px) {

  #get-trial {
    display: none;
  }

  .buy-skole-text, #buy-skhole-opener {
    margin-left: -15px;
  }

  .what-you-get-table {
  line-height: 22px;
  }

  .logo-holder {
    width: 100px;
    height: 50px;
    margin: 10px 12px 5px 0px;
  }

  #over-hundred-customers {
    font-size: 20px;
  }

  .start-anytime-big, .buy-skhole-h2, #medicine-h2 {
    font-size: 21px;
  }

  #hotus-small {
    width: 97%;
  }
}
