body {
  color: #0d2b5c;
  font-family: "Domus";
}

.flex-container {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

h1, h2 {
  color: #0034a0;
}

h1 img {
  width: 100%;
}

h2 {
  font-size: 19px;
  font-weight: 400;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #0034a0;
  margin: 1em 0;
  padding: 0;
}

img.logo {
  width: 170px;
  height: 50px;
  position: absolute;
  left: 40px;
  top: 40px;
}

button {
  color: #fff;
  background: #ff9080;
  padding: 8px 15px;
  border: 0;
  font-size: 20px;
}

.flex-item {
  padding: 10px 30px 0 30px;
  width: 640px;
  
}

.flex-item input[type="text"] {
  width: 100%;
  height: 20px;
}



@media (max-height: 700px) and (min-width: 768px) {
  .flex-container {
    margin-top: 100px;
    position: relative;
  }
}

@media (max-width: 768px) {
  .flex-container {
    margin-top: 100px;
    width: 100%;
    display: inline;
  }
  .flex-item {
    width: auto;
    height: auto;
    padding: 30px;
  }
  .flex-item:nth-child(1) {
    background-image: none;
  }
}

´
