body {
    font-family: "jaf-domus";
    max-width: 1111px;
    margin: auto;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: #0034a0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}


#alaheader {
 width: 72%;
 max-width: 1111px;
 margin-right: 5%;

}
@media only screen
and (min-width: 1280px) {
    #alaheader {
        margin-top: 0;
       }

}

@media only screen
and (max-width: 950px) {
    #alaheader {
        width: 66%;
       }

}

#logopic {
    margin-top: 45px;
    margin-left: 25px;
}

.skhole-menu-container {
margin-top: -25px;
}

.header-mobile {

    float: right;
    width: 100%;
    position: absolute;
}

.skhole-laakelupa {
  margin-top: 100px;
}

.laakelupa-right {
  width: 45%;
  float:left;
  margin-right: 10px;
  margin-left: 20px;
}

.skhole-bottom {
  width: 90%;
  float:left;
  margin: 20px;
}

.laakelupa-left {
  width: 46%;
  float:left;
  margin-left: 20px;
  margin-right: 2%;
}

.left-refe {
  float:left;
  width: 66%;
}

.right-refe {
  float:right;
  width: 66%;
  margin: 10px;
  text-align: right;
}

.refe-text {
  color: #0034a0;
  font-weight: 500;
}

.all-refes {
  width: 100%;
}

.links-holder {
  float:left;
  width: 100%;
  margin-top: 30px;
}

.customers-are-happy {
  margin: auto;
  margin-bottom: 10px;
}

@media only screen
and (max-width: 800px) {
    .skhole-bottom, .laakelupa-left, .laakelupa-right{
        width: 90%;
        margin-left: 25px;
        float:left;
        margin-top:20px;
        margin-right: 10px;
       }

       .mySlides {
         padding: 50px;
       }

       .skhole-laakelupa {
         margin-top: 50px;
       }

       .skhole-laakelupa {
            margin-top: 100px;
        }

        * {
          font-size: 0.95em;
        }


       img.logo {
         margin-top: 20px !important;
       }

       .skhole-menu {
         margin-top: 15px;
       }

}

h3 {
  font-size: 32px;
  margin-bottom: 10px;
  margin-top: 25px;
}
